# Python
env/
venv/
.venv/
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# Django
*.sqlite3
media/
staticfiles/

# React / Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db