# Python virtual environment
env/
venv/
.venv/

# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.pyc

# Django
*.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db